sounds/a.wav filter=lfs diff=lfs merge=lfs -text
sounds/e.wav filter=lfs diff=lfs merge=lfs -text
sounds/i.wav filter=lfs diff=lfs merge=lfs -text
sounds/o.wav filter=lfs diff=lfs merge=lfs -text
sounds/u.wav filter=lfs diff=lfs merge=lfs -text
